<form action="http://localhost:3030/v1/sales/pay/creditcard" method="post" enctype="application/json">

	<input type="hidden" name="purchase" value="{{json purchase}}">
	<input type="hidden" name="redirect_url" value="{{return_url}}">
	<input type="hidden" name="token" value="{{token}}">

	<h6>Billing</h6>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				First name
				<input type="text" placeholder="Jhon" name="first_name" required>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				Last name
				<input type="text" placeholder="Smith" name="last_name" required>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Address
				<input type="text" placeholder="5th avenue" name="address" required>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				City
				<input type="text" placeholder="New York" name="city" required>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				State
				<input type="text" placeholder="NY" name="state" required>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				Country
				<select name="country" required>
					{{#each countries}}
					<option value="{{ccode}}">{{cname}}</option>
					{{/each}}
				</select>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Postal code
				<input type="text" placeholder="10001" name="postal_code" required>
			</label>
		</div>
	</div>

	<h6>Credit card</h6>

	<div class="row">
		<div class="column">
			<label>
				Type
				<select name="cc_type" required>
					<option value="visa">Visa</option>
					<option value="mastercard">Master card</option>
					<option value="amex">American express</option>
				</select>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="column">
			<label>
				Number
				<input type="number" name="cc_number" placeholder="12345678910111213" required>
			</label>
		</div>
	
		<div class="column">
			<label>
				CVV
				<input type="number" name="cc_cvv" placeholder="132" required>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="column">
			<label>
				Expiration date
				<input type="month" name="cc_expiration_date" id="cc_expiration_date" placeholder="2019-10" required>
			</label>
		</div>
	</div>

	<br>
	
	<div class="clearfix">
		<h6 class="float-left"><b>Total:</b> {{purchase.currency}} {{purchase.total}}</h6>
		<button type="submit" class="alert button float-right">Process payment</button>	
	</div>

</form>