<br><br>
<div class="row align-center">
	<div class="column small-12 medium-9 large-8">
		<a href="javascript:history.back();" class="go-back" style="padding-top: 30px;">
			<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
			Regresar al paso anterior
		</a>

		<img src="/public/images/logo.png" alt="" class="image-center">

		<div class="summary">
			<h5>Resumen de la compra</h5>

			<table class="hover unstriped">
				<thead>
					<tr>
						<th>PRODUCTO</th>
						<th>PRECIO</th>
						<th>CANTIDAD</th>
						<th>SUBTOTAL</th>
					</tr>
				</thead>
				<tbody>

				{{#each purchase.products}}

					<tr>
						<td>
							<p class="name">{{name}}</p>
							<p>{{description}}</p>
						</td>
						<td>{{money ../purchase.currency price}}</td>
						<td>{{quantity}}</td>
						<td>
							<span class="noteSubtotal">{{subtotal ../purchase.currency price quantity}}</span>
						</td>
					</tr>

				{{/each}}

				</tbody>
			</table>
		</div>

		<div class="pay-methods">
			<h5>Escoger método de pago</h5>

			<ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="pay-methods-tabs">
				{{#each metodos_de_pago}}
				<li class="tabs-title"><a href="#{{ key_name }}" aria-selected="true">{{ name }}</a></li>
				{{/each}}
			</ul>

			<div class="tabs-content" data-tabs-content="pay-methods-tabs">

				{{#each metodos_de_pago}}
				<div class="tabs-panel" id="{{ key_name }}">
					{{> (form) ../this}}
				</div>
				{{/each}}

			</div>
		</div>
	</div>
</div>
<br><br>