<form action="sales/pay/creditcard" method="post" enctype="application/json" data-abide novalidate>
	<input type="hidden" name="purchase" value="{{json purchase}}">
	<input type="hidden" name="redirect_url" value="{{return_url}}">
	<input type="hidden" name="token" value="{{token}}">

	<div data-abide-error class="alert callout" style="display: none;">
		<p><i class="fi-alert"></i> Por favor complete todos los campos adecuadamente.</p>
	</div>

	<h6>Información de facturación</h6>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Nombre
				<input type="text" placeholder="Jhon" name="first_name" required>
				<span class="form-error">
					Por favor, complete este campo.
				</span>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				Apellido
				<input type="text" placeholder="Smith" name="last_name" required>
				<span class="form-error">
					Por favor, complete este campo.
				</span>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Dirección
				<input type="text" placeholder="5th avenue" name="address" required>
				<span class="form-error">
					Por favor, complete este campo.
				</span>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				Ciudad
				<input type="text" placeholder="New York" name="city" required>
				<span class="form-error">
					Por favor, ingrese una ciudad válida.
				</span>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Estado
				<input type="text" placeholder="NY" name="state" required>
				<span class="form-error">
					Por favor, complete este campo.
				</span>
			</label>
		</div>
		<div class="column small-12 medium-6">
			<label>
				País
				<select name="country" required>
					<option disabled selected>-- seleccione un país --</option>
					{{#each countries}}
					<option value="{{ccode}}">{{cname}}</option>
					{{/each}}
				</select>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Código postal
				<input type="text" placeholder="10001" name="postal_code" pattern="alpha_numeric" required>
				<span class="form-error">
					Por favor, complete este campo.
				</span>
			</label>
		</div>
	</div>

	<h6>Tarjeta de crédito</h6>

	<div class="row">
		<div class="column">
			<label>
				Tipo
				<select name="cc_type" required>
					<option selected disabled>-- seleccione un tipo de tarjeta --</option>
					<option value="visa">Visa</option>
					<option value="mastercard">Master card</option>
					<option value="amex">American express</option>
					<option value="discover">Discover</option>
				</select>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="column">
			<label>
				Número
				<input type="number" name="cc_number" placeholder="4242 4242 4242 4242" pattern="card" required>
				<span class="form-error">
					Porfavor, ingrese un numero de tarjeta válido.
				</span>
			</label>
		</div>
	
		<div class="column">
			<label>
				CVV
				<input type="number" name="cc_cvv" placeholder="132" pattern="cvv" required>
				<span class="form-error">
					Porfavor ingrese un numero de seguridad válido.
				</span>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="column small-12 medium-6">
			<label>
				Fecha de expiración
				<input type="text" class="cc_expiration_date" name="cc_expiration_date" id="cc_expiration_date" placeholder="2019-10">
				<span class="form-error">
					Por favor ingrese una fecha válida.
				</span>
			</label>
		</div>
	</div>

	{{> contact_form purchase.client }}

	<br>
	
	<div class="clearfix">
		<h6 class="float-left"><b>Total:</b> {{money purchase.currency purchase.total}}</h6>
		<button type="submit" class="alert button float-right">Procesar pago</button>
	</div>

	<div class="clearfix">
		<p class="float-right" style="color: #222;">No guardamos ningún dato de tu tarjeta de cŕedito.</p>
	</div>

</form>