<img src="cid:beta@beta.com"/>
<h3>Confirme su pago para continuar con la compra</h3>
<br>
<p>Hola <b>{{email}}</b>.</p>
<p>Se ha realizado un pago de <b>BTC {{ amount }}</b>, corresponsiente a la transacción realizada por <b>{{ email }}</b>.</p>
<p>Para continuar y porder conformar su pago haga click en el siguiente enlace:</p>
<span style="background-color: #F7F9FA; display: block; width: 100%; text-size: 30px; padding: 15px;"><a href="{{{ url }}}">{{{ url }}}</a></span>
<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>
<br>
<p style="color: #b7b7b7;">Usted esta recibiendo este email porque se ha procesado un pago en <b>Insignia Payment Solutions, C.A.</b> utilizando esta cuenta de correo electónico, si no ha sido usted haga <a href="#">click aquí</a></p>