<h3>Confirme su pago para continuar con la compra</h3>

<p>Hola <b>{{email}}</b>.</p>
<p style="text-align: justify;">Se ha realizado un pago de <b>BTC {{ amount }}</b>, corresponsiente a la transacción realizada por <b>{{ email }}</b> con el identificativo <b>{{ id_api_call }}</b>.</p>
<p>Para continuar y porder conformar su pago haga click en el siguiente enlace:</p>
<span style="background-color: #E9E9E9; display: block; width: 100%; padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 15px;"><a href="{{{ url }}}">{{{ url }}}</a></span>

<p>------------------------</p>
<p>El equipo de Insignia Payment Solutions (Insignia Mobile Communications, C.A.)</p>